button {
  text-transform: uppercase;

  &.mat-stroked-button {
    border: 1px solid !important;
  }

  &.btn-small {
    font-size: 0.8125rem;
    line-height: 1.75;
    padding: 3px 9px;
  }

  &.btn-medium {
    font-size: 0.875rem;
    line-height: 1.75;
    padding: 5px 15px;
  }

  &.btn-large {
    font-size: 0.9375rem;
    line-height: 1.75;
    padding: 8px 22px;
  }
}
