$sw-palette: (
  50: #fff8e0,
  100: #ffedb0,
  200: #ffe27c,
  300: #ffd743,
  400: #ffcc01,
  500: #ffc300,
  600: #ffb500,
  700: #ffa100,
  800: #ff8f00,
  900: #ff6d00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
  background: #161616,
);
