:host {
  flex: 1;

  .movie-title {
    height: calc(100vh - 80px);
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .text-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    h1 {
      font-size: 6rem;
      line-height: 6rem;
      letter-spacing: 0.08em;
      border-bottom: 2px solid #fff;
      padding-bottom: 24px;
      margin-bottom: 0;
    }

    h2 {
      font-size: 2.8rem;
      line-height: 3rem;
      letter-spacing: 0.07em;
      padding-top: 16px;
      margin: 0;
      margin-bottom: 32px;
    }
  }
}
