@use 'abstracts/breakpoints' as *;

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    background-image: url('/assets/img/background.jpg');
    background-repeat: repeat-x;
  }
}
